@mixin gameStyle{

  .game{
    height: 50%;
    width: 70%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .content{
      width: 80%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;           
      
      .container-levels {
        width: 100%;
        display: flex;

        .level{
          flex-grow: 1;
          text-align: center;

          color: white;                    
          background-color: rgba(90, 169, 230, 0.5);          
        }

        .clear{    
          background-color: rgb(90, 169, 230);                
        }

        .active{
          background-color: rgb(33, 67, 94);                
          border: 1px solid blue;
        }
      }

      .container-score {
        display: flex;

        .your-score,
        .best-score{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .given-color {
        width: 80%;
        height: 6rem;
        border: 1px solid black;
      }

      .colors {
        display: flex;
        padding: .5rem;
        .color {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;          
          margin-right: 2rem;    

          cursor: pointer;
        }

        .correct {
          border: 2px solid #06d6a0;
        }

        .incorrect {
          border: 2px solid red;
        }
      }
    }
  }
  
}