

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.author {
  text-align: center;  
}

.container {
  height: 97vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .initial-screen {
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  

    margin-bottom: 2rem;

    h1{
      font-size: 60px;
      margin-top: 4rem;
      margin-bottom: 3rem
    }  

  .tutorial {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    margin-bottom: 2rem;
    #firstSteps{
      margin-bottom: 2rem;
    }

    .colorToGuess {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      margin-bottom: 2rem;

      .mainColor {
        height: 5rem;
        width: 22rem;
        border: 1px solid rgb(0, 0, 0);
      }
    }

    #secondSteps{
      margin-bottom: 2rem;
    }

    .colorsToPick {
      display: flex;
      
      .color {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0);
      }

      .color:first-child {
        margin-right: 2rem;
      }
      .color + .color {
        margin-right: 2rem;
      }

    }

    #readyTutorial{
      padding-top: 2rem;
    }
  }

  
  }
}